body{background-color: #ffffcc;}
#top{	position: relative;
	height:100px;
	width:560px;
	left: 50%;
	margin-left: -280px;
}
#middle{position: relative;
  width: 560px;
  left: 50%;
  margin-left: -280px;}
h1 {position: absolute;
	left: 50%;
	margin-left: -52px;
	font-family: sans-serif;
	font-size: 14px;
	border:  2px solid black;
	border-radius: 5px;
	padding: 0 3px;
	color: white;
	z-index: 1;
	}

#new:hover{border: 1px solid gray; 
		width: 82px;
		height:82px;
		left:9px;}
#Fade:hover	{border: 1px solid gray; 
		width: 82px;
		height:82px;
		right:9px;}

#new{	position: absolute;
	border-radius: 100%;
	bottom: -50px;
    	width: 80px;
	height:80px;
	left: 10px;
	background-color: lightgrey;}

#Fade{	position: absolute;
	border-radius: 100%;
	bottom: -50px;
    	width: 80px;
	height:80px;
	right: 10px;
	background-color: lightgrey;}

#container{	color:grey;
		border-top:40px solid red;
		border-left:30px solid red;
		border-right:30px solid red;
		border-bottom:100px solid red;
		position: absolute;
		left: 50%;
		margin-left: -280px;
		background-color: gray;
		border-radius: 10px;
}


.pixel{
	border: 1px solid black ;
display: inline-block;
float: left;
}

.black{background-color: black;}
#middle{height:580px;}
#bottom{ height: 100px;}
